<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
</head>
<body>
  <%= render partial: "resumes/themes/neon", formats: [:html], locals: { resume: @resume } %>
</body>
</html>
